# 제외할 디렉토리
data/
KURE-v1-250518-5-merged/
output/
stal-v1/
vector_db/
result/
tmp/

# Python 관련 불필요한 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# 환경 설정 및 민감한 파일
.env
*.env
*.log
app.log
convert_pdf.log
*.bak

# IDE 관련 파일
.vscode/
.idea/
*.iml

# Virtual environment
venv/
.venv/
*.egg-info/
*.dist-info/

# Jupyter Notebook 관련
*.ipynb
.ipynb_checkpoints/
2_Train_Embeding_.ipynb

# 제외할 특정 스크립트
json_compare.py
json_compare2.py

# 데이터 파일
test_data*.json
*.csv
*.tsv
*.sqlite3
*.db
.DS_Store

# 빌드 및 배포 관련
build/
dist/
*.egg
*.manifest
*.spec

# Git 및 SSH 키 관련
*.pem
*.pub
*.crt
*.key

# Logs & Debug
logs/
nohup.out

# Docker
docker-compose.override.yml
*.dockerignore

# FastAPI Uvicorn 관련
instance/
*.pid

# MongoDB 관련
dump/
*.bson
*.lock

# AWS / Boto 관련
.aws/