# 핵심 패키지
langchain-community==0.3.23
langchain-core==0.3.56
langchain-huggingface>=0.0.6
langchain-chroma>=0.0.10
sentence-transformers>=2.2.2
# gemini llm
google-generativeai==0.8.5
google-genai==1.15.0
# PyTorch (GPU 버전)
# cpu는 밑에 줄 주석처리
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.0+cu118
torchvision==0.22.0+cu118
torchaudio==2.7.0+cu118
# 벡터 데이터베이스
chromadb>=0.4.18
# 설정 관리
pydantic-settings>=2.0.3
# 임베딩 처리에 필요한 최소 유틸리티
numpy>=1.24.0